@import "tailwindcss";


@font-face {
  font-family: "UthmanTNB";
  src: url("/fonts/UthmanTNB.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "BenSen.ttf";
  src: url("/fonts/BenSen.ttf") format("truetype");
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

// @theme inline {
//   --color-background: var(--background);
//   --color-foreground: var(--foreground);
//   --font-sans: var(--font-geist-sans);
//   --font-mono: var(--font-geist-mono);
// }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  color: var(--foreground);
  font-family: roboto;
  position: relative;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../public/background-bg.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    z-index: -1;
    /* Ensure it stays behind other content */
  }
}

input {
  // line-height: 3 !important;
  font-size: 15px !important;

  &::placeholder {
    color: rgb(255, 255, 255, 0.7) !important;
    opacity: 1;
  }
}

// common-dropdown
.common-dropdown {
  .ant-select-selector {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #171717 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 0.75rem !important; // rounded-lg
  }

  .ant-select-arrow {
    color: rgba(0, 0, 0, 0.45);
  }
}